body {
    margin: 0;
    padding: 0;
	}
@media (max-width: 1199px) {
	.tbl .tbl_arr{
	flex-direction: column;
	}

	@font-face {
	    font-family: 'pFont';
	    src: url('../font/Heylabs Stroyed.otf') format('otf');
	    font-weight: normal;
	    font-style: normal;
	}
	
	.tbl{
		display:flex;
		flex-direction: column;
		height: -webkit-fill-available;
	}
	.tbl .tbl_arr{
		display: flex;
		justify-content: space-around;
		height: -webkit-fill-available;
		background-image: url('../imagenes/fondo_ventana-mobile.webp');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
	
	.tbl .tbl_arr .clm_izq{
		display: flex;
		flex-direction: column;
		align-items: stretch;
		justify-content: flex-end;
		height: 0;
	}
	
	.tbl .tbl_arr .clm_izq .imagen_izq{
		margin: 15px 15px 0px 15px;
		border-radius:35px;
	}
	.tbl .tbl_arr .clm_izq .texto_izq{
		/* font-size: 52px; */
		/* text-align: center; */
		/* margin: 41px 18px 0px 16px; */
		/* font-family: 'pFont'; */
		/* color: e12a2a; */
	}
	
	.tbl .tbl_arr .clm_med{
		flex: 1;
		height: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	
	.tbl .tbl_arr .clm_med .clm_med_fondo{
		background: #f6f6f6;
		border-radius:35px;
		margin-top: 100px;
		width: min-content;
	}
	
	.tbl .tbl_arr .clm_med .clm_med_fondo .titulo_med{
		display: flex;
		justify-content: center;
		margin: 5px 40px;
	}
	
	.tbl .tbl_arr .clm_med .clm_med_fondo .titulo_med .ti_med_uno{
		color: #7abe19;
	}
	.tbl .tbl_arr .clm_med .clm_med_fondo .titulo_med .ti_med_dos{
		color: #0078C0;
	}
	.tbl .tbl_arr .clm_med .clm_med_fondo .titulo_med h2{
		margin: 0px 0px 20px 0px;
		font-size: 100px;
		font-family: 'pFont';
	}
	
	.tbl .tbl_arr .clm_med .clm_med_fondo .lista_med{
		display: flex;
		justify-content: center;
		flex-direction: column;
	}
	
	.tbl .tbl_arr .clm_med .clm_med_fondo .titulo_lista{
		text-align: center;
		margin: 0;
		font-size: 38px;
		font-family: 'pFont';
	}
	.tbl .tbl_arr .clm_med .clm_med_fondo .lista_servicios{
		margin-top: 10px;
		list-style-type: none;
		text-align: center;
		font-size: 31px;
		margin-left: -41px;
		font-family: 'pFont';
	}
	.tbl .tbl_arr .clm_med .clm_med_fondo .lista_servicios li{
	margin: 49px 46px;
	}
	.tbl .tbl_arr .clm_der{
		flex: 1;
		height: auto;
		display: flex;
		flex-direction: column;
	}
	
	.tbl .tbl_arr .clm_der .texto-arr{
		flex: 1;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}
	
	.tbl .tbl_arr .clm_der .texto-arr .text-rotate {
		
	text-align: center;
		
	margin-top: 56px;
		
	margin-right: 20px;
	}
	
	.tbl .tbl_arr .clm_der .texto-arr .text-rotate .texto-amarillo,
	.tbl .tbl_arr .clm_der .texto-arr .text-rotate .texto-azul{
		transform: rotate(20deg);
		margin: 0px;
		margin-top: 0px;
		font-size: 41px;
		font-family: 'pFont';
	}
	
	.tbl .tbl_arr .clm_der .texto-arr .text-rotate .texto-azul{
		color: #0078C0;
		background-color: rgba(256, 158, 9, .68);
	}
	.tbl .tbl_arr .clm_der .texto-arr .text-rotate .texto-amarillo{
		color: #F69E09;
		background-color: rgba(0, 120, 192, .68);
	}
	
	.tbl .tbl_arr .clm_der .texto-med{
		flex: 1;
		display: flex;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;
	}
	
	.tbl .tbl_arr .clm_der .texto-med .texto{
		width: fit-content;
		font-size: 65px;
		text-align: center;
		border-radius: 44px;
		border: 1px solid grey;
		padding: 12px;
		background: #f6f6f6;
	}
	
	.tbl .tbl_arr .clm_der .texto-med .texto p{
		margin:3px;
		font-family: 'pFont';
	}
	
	.tbl .tbl_arr .clm_der .texto-med .texto .texto-dos{
		color: #e12a2a;
	}
	.tbl .tbl_arr .clm_der .texto-abj{
		flex: 1;
		display: flex;
		align-items: flex-end;
	}
	
	.tbl .tbl_arr .clm_der .texto-abj .texto{
		display:flex;
		flex-direction: column;
		margin-top: 40px;
		width: max-content;
		font-size: 43px;
		color: #F69E09;
		background: #f6f6f6;
		border-radius:35px 35px 0 0;
		align-items: flex-end;
	}
	.tbl .tbl_arr .clm_der .texto-abj .texto p{
		margin: 2px 40px;
	}
	
	.tbl .tbl_abj{
		height: fit-content;
		background: #1e1d1c;
	}
	
	.tbl .tbl_abj .clm_abj{
		height: auto;
		display: flex;
	}
	
	.tbl .tbl_abj .clm_abj .distribuidor{
		display:flex;
		margin-left: 28px;
		flex-direction: column;
	}
	
	.tbl .tbl_abj .clm_abj .distribuidor .texto-dis{display: flex;margin-right: 25px;margin-top: 5px;}
	
	.tbl .tbl_abj .clm_abj .distribuidor .texto-dis .texto-uno,
	.tbl .tbl_abj .clm_abj .distribuidor .texto-dis .texto-dos{
		font-size: 49px;
		margin-bottom: 18px;
	}
	.tbl .tbl_abj .clm_abj .distribuidor .texto-dis .texto-uno{
		color: #0078C0;
	}
	.tbl .tbl_abj .clm_abj .distribuidor .texto-dis .texto-dos{
		color: #F69E09;
	}
	
	.tbl .tbl_abj .clm_abj .distribuidor .imagen-dis{
		margin-bottom: 32px;
	}

	.contact-form-out{
		display: none;
	}
}

@media (min-width:1200px) {
	.tbl .tbl_arr{
		align-items: center;
	}
	.tbl{
	display:flex;
	flex-direction: column;
	align-items: center;
	height: -webkit-fill-available;
	width: -webkit-fill-available;
	}
	.tbl .tbl_arr{
		display: flex;
		justify-content: space-around;
		background-image: url('../imagenes/fondo_ventana.webp');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		height: -webkit-fill-available;
		width: -webkit-fill-available;
	}
	
	.tbl .tbl_arr .clm_izq{
		flex: 1;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: stretch;
		justify-content: flex-end;
	}
	
	.tbl .tbl_arr .clm_izq .imagen_izq{
		margin: 15px 15px 0px 15px;
		border-radius:35px;
	}
	.tbl .tbl_arr .clm_izq .texto_izq{
		font-size: 52px;
		text-align: center;
		margin: 41px 18px 0px 16px;
		font-family: sans-serif;
		color: e12a2a;
	}
	
	.tbl .tbl_arr .clm_med{
		flex: 1;
		display: flex;
		margin-left: 15px;
	}
	
	.tbl .tbl_arr .clm_med .clm_med_fondo{
		background: #f6f6f6;
		border-radius:35px;
	}
	
	.tbl .tbl_arr .clm_med .clm_med_fondo .titulo_med{
		display: flex;
		justify-content: center;
		margin: 5px 40px;
	}
	
	.tbl .tbl_arr .clm_med .clm_med_fondo .titulo_med .ti_med_uno{
		color: #7abe19;
	}
	.tbl .tbl_arr .clm_med .clm_med_fondo .titulo_med .ti_med_dos{
		color: #0078C0;
	}
	.tbl .tbl_arr .clm_med .clm_med_fondo .titulo_med h2{
		margin: 0px 0px 20px 0px;
		font-size: 85px;
		font-family: sans-serif;
	}
	
	.tbl .tbl_arr .clm_med .clm_med_fondo .lista_med{
		display: flex;
		justify-content: center;
		flex-direction: column;
	}
	
	.tbl .tbl_arr .clm_med .clm_med_fondo .titulo_lista{
		text-align: center;
		margin: 0;
		font-size: 35px;
		font-family: sans-serif;
	}
	.tbl .tbl_arr .clm_med .clm_med_fondo .lista_servicios{
		margin-top: 10px;
		list-style-type: none;
		text-align: center;
		font-size: 25px;
		margin-left: -41px;
		font-family: sans-serif;
	}
	.tbl .tbl_arr .clm_med .clm_med_fondo .lista_servicios li{
		margin: 46px 55px;
	}
	.tbl .tbl_arr .clm_der{
		flex: 1;
		height: 100%;
		display: flex;
		flex-direction: column;
		margin-right: 15px;
	}
	
	.tbl .tbl_arr .clm_der .texto-arr{
		flex: 1;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}
	
	.tbl .tbl_arr .clm_der .texto-arr .text-rotate {
		
	text-align: center;
		
	margin-top: 56px;
		
	margin-right: 20px;
	}
	
	.tbl .tbl_arr .clm_der .texto-arr .text-rotate .texto-amarillo,
	.tbl .tbl_arr .clm_der .texto-arr .text-rotate .texto-azul{
		transform: rotate(20deg);
		margin: 0px;
		margin-top: 0px;
		font-size: 28px;
		font-family: sans-serif;
	}
	
	.tbl .tbl_arr .clm_der .texto-arr .text-rotate .texto-azul{
		color: #0078C0;
		background-color: rgba(256, 158, 9, .68);
	}
	.tbl .tbl_arr .clm_der .texto-arr .text-rotate .texto-amarillo{
		color: #F69E09;
		background-color: rgba(0, 120, 192, .68);
	}
	
	.tbl .tbl_arr .clm_der .texto-med{
		flex: 1;
		display: flex;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;
	}
	
	.tbl .tbl_arr .clm_der .texto-med .texto{
		width: fit-content;
		font-size: 65px;
		text-align: center;
		border-radius: 44px;
		padding: 12px;
		background: #f6f6f6;
	}
	
	.tbl .tbl_arr .clm_der .texto-med .texto p{
		margin:3px;
	}
	
	.tbl .tbl_arr .clm_der .texto-med .texto .texto-dos{
		color: #e12a2a;
	}
	.tbl .tbl_arr .clm_der .texto-abj{
		flex: 1;
		display: flex;
		justify-content: center;
	}
	
	.tbl .tbl_arr .clm_der .texto-abj .texto{
		display:flex;
		flex-direction: column;
		margin-top: 207px;
		width: max-content;
		font-size: 43px;
		color: #F69E09;
		background: #f6f6f6;
		border-radius:35px 35px 0 0;
		align-items: flex-end;
	}
	.tbl .tbl_arr .clm_der .texto-abj .texto p{
		margin: 2px 40px;
	}
	
	.tbl .tbl_abj{
		background: #1e1d1c;
		width: -webkit-fill-available;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	
	.tbl .tbl_abj .clm_abj{
		display: flex;
		flex-direction: row;
	}
	
	.tbl .tbl_abj .clm_abj .distribuidor{
		display:flex;
		align-items: center;
		margin-left: 38px;
	}
	
	.tbl .tbl_abj .clm_abj .distribuidor .texto-dis{display: flex;margin-right: 25px;margin-top: 10px;}
	
	.tbl .tbl_abj .clm_abj .distribuidor .texto-dis .texto-uno,
	.tbl .tbl_abj .clm_abj .distribuidor .texto-dis .texto-dos{
		font-size: 24px;
	}
	.tbl .tbl_abj .clm_abj .distribuidor .texto-dis .texto-uno{
		color: #0078C0;
	}
	.tbl .tbl_abj .clm_abj .distribuidor .texto-dis .texto-dos{
		color: #F69E09;
	}
	
	.contacto{
		display: none;
	}

	.contact-form-out{
		height: auto;
		width: auto;
		display: flex;
		flex-direction: column;
		color: #F69E09;
	}

	.contc-frm{
		display: flex;
		flex-direction: row;
	}

	.contact-form-out .contc-frm .bloque-contacto{
		margin-right: 56px;
	}
}
@media (min-width: 1600px) {
	.tbl .tbl_abj .clm_abj .distribuidor .texto-dis .texto-uno,
	.tbl .tbl_abj .clm_abj .distribuidor .texto-dis .texto-dos{
		font-size: 42px;
	}
}
@media (min-width: 1920px) {
	.contact-form-out{
		margin-right: 150px;
	}
}


.tbl .contacto{
	position: fixed;
	bottom: 25px;
	right: 25px;
}

/* Estilos para el botÃƒÆ’Ã‚Â³n de contacto */
.btn-contact {
  padding: 10px;
  background-color: #007bff;
  border: none;
  cursor: pointer;
  border-radius: 50%; /* BotÃƒÆ’Ã‚Â³n redondeado */
  width: 150px; /* Ajusta el tamaÃƒÆ’Ã‚Â±o segÃƒÆ’Ã‚Âºn el icono */
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* transition: background-color 0.3s ease, transform 0.2s ease; */ /* TransiciÃƒÆ’Ã‚Â³n para el hover y clic */
}

.btn-icon {
  width: 160px;
  height: 160px;
  transition: transform 0.2s ease; /* Suavizar icono en hover */
}

/* AnimaciÃƒÆ’Ã‚Â³n al pasar el ratÃƒÆ’Ã‚Â³n (hover) */
.btn-contact:hover {
  background-color: #0056b3; /* Cambia el color en hover */
}

.btn-contact:hover .btn-icon {
  transform: scale(1.1); /* Agranda el icono un 10% en hover */
}

/* AnimaciÃƒÆ’Ã‚Â³n de "rebote" al hacer clic */
@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

/* Aplicar la animaciÃƒÆ’Ã‚Â³n de rebote */
.btn-contact:active {
  animation: bounce 0.2s;
}

/* AnimaciÃƒÆ’Ã‚Â³n de desvanecimiento y deslizamiento */
@keyframes slideDownFade {
  0% {
    opacity: 0;
    transform: translateY(-20px); /* Comienza un poco mÃƒÆ’Ã‚Â¡s arriba */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* Termina en su posiciÃƒÆ’Ã‚Â³n final */
  }
}

/* Estilos para el formulario de contacto */

.contact-form {
  display: flex;
  flex-direction: column;
  width: auto;
  padding: 15px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: absolute;
  z-index: 10;
  opacity: 0;
  
}

.contact-form.show {
  opacity: 1;
  animation: openForm 0.3s ease 0s 1 normal forwards;
  position: absolute;
  right: 0px;
  bottom: 160;
  font-size: 42px;
}

.contact-form.hidden {
  animation: closeForm 0.3s ease 0s 1 normal forwards;
  opacity: 1; 
  position: absolute;
  right: 0px;
  bottom: 160;
  font-size: 42px;
}
.contact-form.hidden_first {
  display:none;
}

@keyframes openForm {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes closeForm {
	0% {
		opacity: 1;
		transform: translateY(0);
	}

	100% {
		opacity: 0;
		transform: translateY(50px);
	}
}
.contact-item{
	display:flex;
	align-items: center;
	margin-bottom: 33px;
}
.contact-item .txt_contc{
	margin-left: 11px;
	color: #0078C0;
}

/* AnimaciÃƒÆ’Ã‚Â³n de desvanecimiento y deslizamiento */
@keyframes slideDownFade {
  0% {
    opacity: 0;
    transform: translateY(-20px); /* Comienza un poco mÃƒÆ’Ã‚Â¡s arriba */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* Termina en su posiciÃƒÆ’Ã‚Â³n final */
  }
}
.contact-item .icon {
  width: 80px; /* TamaÃƒÆ’Ã‚Â±o del icono */
  height: 80px;
  margin-right: 8px;
}

.contact-form h3 {
  margin-top: 0;
}

.contact-form label {
  margin-top: 10px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.contact-form button {
  margin-top: 10px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}