.tbl{
	display:flex;
	flex-direction: column;
	height:100%;
}
.tbl .tbl_arr{
	display: flex;
	justify-content: space-around;
	height: 100%;
	background-image: url('../imagenes/fondo_ventana.webp');
	background-size: cover;
	background-position: center; 
	background-repeat: no-repeat; 
}

.tbl .tbl_arr .clm_izq{
	flex: 1;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: flex-end;
}

.tbl .tbl_arr .clm_izq .imagen_izq{
	margin: 15px 15px 0px 15px;
	border-radius:35px;
}
.tbl .tbl_arr .clm_izq .texto_izq{
	font-size: 52px;
	text-align: center;
	margin: 41px 18px 0px 16px;
	font-family: sans-serif;
	color: e12a2a;
}

.tbl .tbl_arr .clm_med{
	flex: 1;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.tbl .tbl_arr .clm_med .clm_med_fondo{
	background: #f6f6f6;
	border-radius:35px;
}

.tbl .tbl_arr .clm_med .clm_med_fondo .titulo_med{
	display: flex;
	justify-content: center;
	margin: 5px 40px;
}

.tbl .tbl_arr .clm_med .clm_med_fondo .titulo_med .ti_med_uno{
	color: #7abe19;
}
.tbl .tbl_arr .clm_med .clm_med_fondo .titulo_med .ti_med_dos{
	color: #0078C0;
}
.tbl .tbl_arr .clm_med .clm_med_fondo .titulo_med h2{
	margin: 0px 0px 20px 0px;
	font-size: 100px;
	font-family: sans-serif;
}

.tbl .tbl_arr .clm_med .clm_med_fondo .lista_med{
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.tbl .tbl_arr .clm_med .clm_med_fondo .titulo_lista{
	text-align: center;
	margin: 0;
	font-size: 38px;
	font-family: sans-serif;
}
.tbl .tbl_arr .clm_med .clm_med_fondo .lista_servicios{
	margin-top: 10px;
	list-style-type: none;
	text-align: center;
	font-size: 31px;
	margin-left: -41px;
	font-family: sans-serif;
}
.tbl .tbl_arr .clm_med .clm_med_fondo .lista_servicios li{
	margin-bottom: 55px;
}
.tbl .tbl_arr .clm_der{
	flex: 1;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.tbl .tbl_arr .clm_der .texto-arr{
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.tbl .tbl_arr .clm_der .texto-arr .text-rotate {
	
text-align: center;
	
margin-top: 56px;
	
margin-right: 20px;
}

.tbl .tbl_arr .clm_der .texto-arr .text-rotate .texto-amarillo,
.tbl .tbl_arr .clm_der .texto-arr .text-rotate .texto-azul{
	transform: rotate(20deg);
	margin: 0px;
	margin-top: 0px;
	font-size: 41px;
	font-family: sans-serif;
}

.tbl .tbl_arr .clm_der .texto-arr .text-rotate .texto-azul{
	color: #0078C0;
}
.tbl .tbl_arr .clm_der .texto-arr .text-rotate .texto-amarillo{
	color: #F69E09;
}

.tbl .tbl_arr .clm_der .texto-med{
	flex: 1;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}

.tbl .tbl_arr .clm_der .texto-med .texto{
	width: fit-content;
	font-size: 65px;
	text-align: center;
	border-radius: 44px;
	border: 1px solid grey;
	padding: 12px;
	background: #f6f6f6;
}

.tbl .tbl_arr .clm_der .texto-med .texto p{
	margin:3px;
}

.tbl .tbl_arr .clm_der .texto-med .texto .texto-dos{
	color: #e12a2a;
}
.tbl .tbl_arr .clm_der .texto-abj{
	flex: 1;
}

.tbl .tbl_arr .clm_der .texto-abj .texto{
	display:flex;
	flex-direction: column;
	align-items: flex-end;
	margin-top: 205px;
	margin-right: 17px;
	font-size: 43px;
	color: #F69E09;
}
.tbl .tbl_arr .clm_der .texto-abj .texto p{
	margin:2px;
}

.tbl .tbl_abj{
	height: 25%;
	background: #1e1d1c;
}

.tbl .tbl_abj .clm_abj{
	height: 100%;
	display: flex;
	flex-direction: row;
}

.tbl .tbl_abj .clm_abj .distribuidor{
	display:flex;
	align-items: center;
	margin-left: 100px;
}

.tbl .tbl_abj .clm_abj .distribuidor .texto-dis{display: flex;margin-right: 25px;margin-top: 5px;}

.tbl .tbl_abj .clm_abj .distribuidor .texto-dis .texto-uno,
.tbl .tbl_abj .clm_abj .distribuidor .texto-dis .texto-dos{
	font-size: 40px;
}
.tbl .tbl_abj .clm_abj .distribuidor .texto-dis .texto-uno{
	color: #0078C0;
}
.tbl .tbl_abj .clm_abj .distribuidor .texto-dis .texto-dos{
	color: #F69E09;
}

.tbl .tbl_abj .clm_abj .distribuidor .imagen-dis{
}


.tbl .tbl_abj .clm_abj .contacto{
	display: flex;
	flex: 1;
	align-items: center;
	flex-direction: row-reverse;
	margin-right: 135px;
}

/* Estilos para el botón de contacto */
.btn-contact {
  padding: 10px;
  background-color: #007bff;
  border: none;
  cursor: pointer;
  border-radius: 50%; /* Botón redondeado */
  width: 150px; /* Ajusta el tamaño según el icono */
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, transform 0.2s ease; /* Transición para el hover y clic */
}

.btn-icon {
  width: 115px;
  height: 115px;
  transition: transform 0.2s ease; /* Suavizar icono en hover */
}

/* Animación al pasar el ratón (hover) */
.btn-contact:hover {
  background-color: #0056b3; /* Cambia el color en hover */
}

.btn-contact:hover .btn-icon {
  transform: scale(1.1); /* Agranda el icono un 10% en hover */
}

/* Animación al hacer clic */
.btn-contact:active {
  transform: scale(0.9); /* Reduce ligeramente el tamaño en clic */
}

/* Animación de "rebote" al hacer clic */
@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

/* Aplicar la animación de rebote */
.btn-contact:active {
  animation: bounce 0.2s;
}

/* Animación de desvanecimiento y deslizamiento */
@keyframes slideDownFade {
  0% {
    opacity: 0;
    transform: translateY(-20px); /* Comienza un poco más arriba */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* Termina en su posición final */
  }
}

/* Estilos para el formulario de contacto */

.contact-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 15px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: absolute;
  z-index: 10;
  opacity: 0; /* Inicialmente invisible */
  transform: translateY(-20px); /* Inicialmente más arriba */
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.contact-form.show {
  opacity: 1; /* Se vuelve visible */
  transform: translateY(0); /* Desliza hacia abajo */
}

/* Animación de desvanecimiento y deslizamiento */
@keyframes slideDownFade {
  0% {
    opacity: 0;
    transform: translateY(-20px); /* Comienza un poco más arriba */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* Termina en su posición final */
  }
}
.contact-item .icon {
  width: 20px; /* Tamaño del icono */
  height: 20px;
  margin-right: 8px;
}

.contact-form h3 {
  margin-top: 0;
}

.contact-form label {
  margin-top: 10px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.contact-form button {
  margin-top: 10px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.hidden {
  display: none;
}


@media (max-width: 1200px) {
	.tbl .tbl_arr{
	flex-direction: column;
	}
}

@media (min-width: 1201px) {
	.tbl .tbl_arr{
		align-items: center;
	}
}